:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
}

* {
  padding: 0;
  margin: 0;
  /* outline: 1px red solid; */
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-inline: 2rem;
}
.main-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1.5rem;
  background-color: var(--bg_default);
}
header h1 a {
  text-decoration: none;
  color: var(--brand-primary);
}
header h1 {
  color: var(--brand-primary);
  font-weight: 700;
  font-size: 1rem;
}

nav {
  display: flex;
  gap: 10px;
}
nav button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  border: 1px solid #ddd;
  color: var(--body-text);
  background-color: var(--bg_default);
  cursor: pointer;
}
@media (max-width: 767px) {
  nav button span {
    display: none;
  }
}
.icon {
  width: 15px;
}
[name="search"] {
  color: var(--body-text);
}
[name="moon"] {
  color: #fbdc34;
}
[name="heart"] {
  color: var(--heart-color);
}
/* welcome  */
.welcome {
  background-color: var(--bg_default);
}
.welcome .text,
.welcome .text > p {
  margin: auto;
  width: fit-content;
  color: var(--body-text);
}

.welcome .text {
  padding-bottom: 30px;
}
.colorful-bg {
  height: 75px;
  position: relative;
  overflow: hidden;
}
.colorful-bg div {
  height: 100%;
  width: 100%;
  position: absolute;
}

.colorful-bg .blue {
  background: linear-gradient(
    90deg,
    rgba(7, 104, 172, 1) 40%,
    rgba(3, 193, 128, 1) 100%
  );
  transform: skewY(-3deg);
  transform-origin: left bottom;
}

.colorful-bg .green {
  background-color: var(--brand-secondary);
  transform: skewY(3deg);
  transform-origin: right bottom;
}
.welcome h1 {
  color: var(--brand-secondary);
}
.welcome p {
  color: #333333;
}
@media (max-width: 767px) {
  .colorful-bg {
    height: 30px;
  }
}

/* main area  */
.home-body {
  background-color: var(--bg_body);
  color: var(--body-text);
  padding-block: 30px;
}

.home-body .search-form {
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0 0 2px 1px var(--lines-color);
}

.home-body .search-form .search-field {
  flex-grow: 1;
  padding: 5px 10px;
  background-color: var(--bg_default);
  position: relative;
  padding-left: 30px;
  max-width: 100%;
}
.home-body .search-form .search-field .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.home-body .search-form input[type="text"] {
  width: 100%;
  outline: none;
  display: block;
  height: 100%;
  border: none;
}

.home-body .search-form .filters .box {
  border-left: var(--lines-color) solid 1px;
  padding-left: 15px;
}
.home-body .search-form .filters .box > p {
  padding-top: 5px;
  font-size: 8px;
  font-weight: 700;
}
.home-body .search-form select {
  border: none;
  width: 100px;
  outline: none;
  cursor: pointer;
}

.home-body .search-form .filters {
  display: flex;
  background-color: var(--bg_default);
}

.search-count {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 1.4rem;
}
@media (max-width: 767px) {
  .home-body .search-form {
    flex-wrap: wrap;
  }
  .home-body .search-form .filters {
    flex-grow: 1;
    border-top: 2px solid var(--lines-color);
  }
  .home-body .search-form .filters .box {
    flex-grow: 1;
  }
  .home-body .search-form .filters .box select {
    width: 100%;
  }
}
select,
input {
  background-color: var(--bg_default);
  color: var(--body-text);
}
/* result cards  */
.result {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
@media (max-width: 991px) {
  .result {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .result {
    display: block;
  }

  .result .card {
    margin: 10px auto;
  }
}
.card {
  max-width: 300px;
  border-radius: 10px;
  background-color: var(--bg_default);
  box-shadow: 1px 1px 1px var(--lines-color);
}

.card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.card .category {
  padding-top: 10px;
  color: var(--body-text);
  font-size: 12px;
}
.card .text {
  padding: 10px;
}

.card .title {
  font-size: 14px;
  margin-bottom: 15px;
}
.card .author {
  color: var(--body-text);
  opacity: 0.8;
  font-size: 12px;
}

.star-rating img {
  width: 10px;
}
.star-rating {
  margin-bottom: 10px;
}

/*footer*/

footer {
  text-align: center;
  color: var(--body-text);
  padding-block: 35px;
  background-color: var(--bg_body);
}
/*favorite Styling*/

.fav-section {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 0;
  z-index: 111;
  background-color: var(--bg_default);
  box-shadow: 0px 0px 8px 1px var(--lines-color);
  color: var(--body-text);
  transition: 0.3s;
}
.fav-collapse {
  transform: scaleY(0);
  transform-origin: bottom;
}
.fav-section .fav-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  padding-block: 10px;
}
.fav-section .fav-container .card {
  padding-bottom: 0px;
  overflow: hidden;
  box-shadow: 2px 0px 2px 1px #ccc;
}

.fav-section .fav-container .card a > img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.fav-section .fav-heading {
  display: flex;
  justify-content: space-between;
}
.fav-section .fav-heading span {
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  background-color: var(--heart-color);
  border: none;
  font-weight: 700;
  outline: none;
}
@media (max-width: 767px) {
  .fav-section .fav-container {
    grid-template-columns: 1fr 1fr;
  }
}

.datails-container {
  display: grid;
  gap: 50px 20px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto auto auto;
  max-width: 1100px !important;
  margin: auto;
}

.overlapcontainer {
  position: relative;
}
.black-bg {
  position: absolute;
  height: 30vh;
  background-color: #333333;
  width: 100%;
  z-index: 1;
  top: -25px;
}
.datails-container .text {
  grid-column: 1 / 6;
  grid-row: 1;
  z-index: 2;
  color: white;
}
@media (max-width: 767px) {
  .datails-container {
    display: block;
  }
  .black-bg {
    display: none;
  }
  .datails-container .text {
    color: var(--body-text);
    margin-bottom: 30px;
  }
}
.datails-container .detail-card {
  grid-row: 1/3;
  z-index: 2;
  grid-column: 7/9;
  background-color: var(--bg_default);
  box-shadow: 0px 0px 2px 1px #3333335f;
  height: 340px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.details-category {
  color: var(--brand-secondary);
  padding: 5px;
}
.list_container {
  grid-row: 2/4;
  grid-column: 1 / 6;
}
.detail-card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.detail-card .content {
  padding: 10px;
}
.detail-card .creator {
  font-size: 0.8rem;
  color: var(--body-text);
  font-weight: 700;
  margin-bottom: 10px;
}
.detail-card a {
  font-weight: 500;
}
.detail-card .content .interest {
  border: #837e7e60 1px solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.detail-card .content .interest button {
  border: none;
  padding: 5px 10px;
  background-color: #03c180;
  font-weight: bold;
  color: #ddd;
  width: 100%;
  cursor: pointer;
}
.detail-card .unlimited {
  padding-top: 20px;
  color: #746e6e;
  text-align: center;
  font-size: 0.8rem;
}
.list_container {
  box-sizing: border-box;
  background-color: var(--bg_default);
  border: 1px solid var(--lines-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  grid-row: 2/3;
  grid-column: 1/6;
}

.list_container h3 {
  width: 100%;
  padding-left: 10px;
  text-align: left;
  padding-block: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 0;
  padding: 0;
}

.list-item {
  list-style: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  border-top: 1px solid var(--lines-color);
  font-size: 1em;
}

.list-item span {
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}
